.filter {
  color: white;
}
.filterlabel {
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 4px;
  left: 0.8em;
}
.dropdown {
  height: 50px;
  width: 60px;
  position: relative;
  top: 4px;
  left: 42em;
  border: 5px solid rgb(12, 49, 131);
}
