.expense-item__date {
  background-color: rgb(168, 66, 66);
  color: rgb(255, 255, 255);
  width: 90px;
  height: 70px;

  position: relative;
  top: 0.3em;
  left: 1em;
  border-radius: 20px;
  border: solid 3px rgb(255, 255, 255);
}
.expense-item__date__divs {
  margin-left: 16px;
  position: relative;
  top: 8px;
}
